@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Sora", sans-serif;
  background-color: #000000;
  color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
.font1 {
  font-family: "Source Code Pro", monospace;
}
.sora {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.Orbitronj {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.top-left {
  position: fixed;
  width: 690px;
  height: 500px;
  top: 0;
  left: 0;
}

/* -------------------- HEADER -------------------- */
header {
  display: flex;
  border: 2px solid #00ffcc;
  border-radius: 24px;
  color: rgb(255, 255, 255);
  margin: 60px 80px;
  position: relative;
  z-index: 1;
  background-color: #02463d76;
  transition: background-color 0.3s ease;
}

header:hover {
  background-color: #000a1b;
}

.header-img-div {
  border-right: 2px solid #1acfab;
  padding: 25px 100px;
}

.header-img {
  width: 65px;
}

.header-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #00ffcc;
}

header nav {
  max-width: 1190px;
  width: 100%;
  height: 56px;
  border-right: 2px solid #00ffcc;
}

header nav ul {
  padding: 15px 20px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.main-li {
  background-color: #06da77bc;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s ease-out;
  box-shadow: 0px 0px 15px #05ff8abc;
}
.main-li:hover {
  background-color: #05b6633c;
}
header nav ul li a {
  font-family: "Orbitron", sans-serif;
  color: #bfc7d5;
  letter-spacing: 1px;
  transition: color 0.3s ease;
  cursor: pointer;
}

header nav ul li a:hover {
  color: #00ffcc;
}

/*------------ burger menu ----------------*/
.burger-menu-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 56px;
  cursor: pointer;
  border-left: 2px solid #00ffcc;
  border-top-right-radius: 24px;
}

/* -------------second row socials andn joinus -------------------*/
.header-row2 {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  justify-content: space-between;
  align-items: center;
}

/* joins us and socials divs */
.header-services {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  font-family: "Source Code Pro", monospace;
}

.header-services div {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #00ffcc;
}

.header-services div a {
  color: #00ffcc;
}
.border-right {
  border-right: 2px solid #00ffcc;
}

/* -------------------- HERO -------------------- */
#hero {
  width: 100%;
  display: flex;
  padding: 80px;
  justify-content: space-around;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero-text span {
  font-size: 20px;
  font-weight: 700;
}

.hero-text h1 {
  font-size: 60px;
  margin: 10px 0;
  font-weight: 600;
  max-width: 700px;
}

.hero-text h3 {
  font-size: 20px;
  margin: 10px 0;
  color: #00ff88;
}

.hero-text p {
  margin-top: 15px;
  margin-top: 20px;
  color: #bfc7d5;
}

.hero-text p span {
  color: #00ff88;
  font-weight: 500;
  font-style: italic;
}
.hero-btns {
  display: flex;
  width: 100%;
  gap: 50px;
  margin-top: 40px;
}
.hero-btns button {
  border: 2px dashed #00ff88;
  color: #00ff88;
  background: transparent;
  padding: 12px 24px;
  border-radius: 8px;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.hero-btns button a {
  color: #00ff88;
}

.hero-btns :hover {
  background-color: #000000;
  box-shadow: 0 0 20px #00ff88;
  border: 1px double darkcyan;
}

/* -----------------hero-right----------------- */
.code-editor {
  background: #0d1224;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 255, 136, 0.1);
  width: 100%;
  max-width: 480px;
  font-family: "Fira Code", monospace;
}

.editor-header {
  display: flex;
  gap: 8px;
  padding: 10px;
  background: #1a1f33;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.red {
  background: #ff5656;
}
.yellow {
  background: #ffbd2e;
}
.green {
  background: #27c93f;
}

.editor-body {
  padding: 20px;
  color: #00ff88;
  font-size: 0.95rem;
  line-height: 1.6;
  overflow-x: auto;
  white-space: pre-line;
}

/* ?????????????????????????WHY GOA?????????????????????????? */
#why-goa {
  margin: 10px 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  text-align: center;
}
#why-goa h1 {
  font-size: 55px;
  color: #99ffcc;
}
#why-goa p span {
  text-decoration: underline;
  font-style: italic;
  color: #99ffcc;
}
.why-goa-p1 {
  letter-spacing: 5px;
  font-size: 18px;
}

/* ---------------our team------------------- */
#our-team {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00060f60;
  color: #fff;
  padding: 60px 20px;
  margin-top: 90px;
}
#our-team h2 {
  margin-bottom: 60px;
  max-width: 700px;
  font-size: 32px;
  color: #99ffcc;
}
.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  padding: 0 20px;
}
.team-card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid #00ff9f33;
  transition: 0.3s ease-in-out;
}

.team-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) brightness(0.8);
  transition: 0.3s ease-out;
}

.team-card:hover img {
  filter: grayscale(0%) brightness(1);
  transform: scale(1.05);
}

.card-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: 0.4s ease;
}

.team-card:hover .card-overlay {
  opacity: 1;
}

.card-overlay h3 {
  color: #00ff9f;
  font-size: 21px;
  margin-bottom: 10px;
}

.card-overlay p {
  font-size: 15px;
  color: #ddd;
  text-align: center;
}

.button-wrapper {
  margin-top: 50px;
  text-align: center;
}

.see-more {
  color: #00ff9f;
  text-decoration: none;
  font-weight: 600;
  border: 1px dashed #00ff9f;
  padding: 12px 25px;
  border-radius: 8px;
  transition: 0.3s ease;
  background: transparent;
  cursor: pointer;
}

.see-more a {
  color: inherit;
  text-decoration: none;
}

.see-more:hover {
  background-color: #00ff9f;
  color: #000;
}

/* -----------------reviews------------ */
#reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 260px;
  gap: 50px;
}
#reviews h1 {
  font-size: 36px;
  text-align: center;
}
#reviews h1 span {
  color: #00bfff;
}
.rbb-p {
  display: flex;
  align-items: center;
  gap: 10px;
}
.review-box-box {
  border: 2px solid rgb(160, 240, 240);
  border-radius: 20px;
  display: flex;
  width: 1000px;
  overflow: hidden;
  flex-direction: row;
}
.review-box {
  width: 1000px;
  flex-shrink: 0;
  height: 300px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: #0000005e;
  position: relative;
}
.top-left {
  display: none;
}
.swipe {
  border-radius: 50%;
  background-color: #0972c3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  width: 50px;
  height: 50px;
}
.profile img {
  width: 50px;
}
.profile {
  display: flex;
  align-items: start;
  gap: 20px;
}
.name p {
  color: #bfc7d5;
  font-size: 15px;
}
.review-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 20px;
  background-color: #33333e7a;
  padding: 20px;
}
.dots {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 10px;
}
.main-dot {
  border: 1px solid rgb(0, 213, 255);
  width: 24px;
  height: 24px;
  border-radius: 24px;
  padding: 7px;
}

/* --------------------courses------------------- */
#course-preview {
  margin: 100px 130px;
  text-align: center;
}

.course-text h2 {
  font-size: 48px;
  font-weight: 700;
  color: #00ffcc;
  margin-bottom: 20px;
}

.course-text p {
  color: #bfc7d5;
  font-size: 18px;
  margin-top: 10px;
}
/*-----second paart- cards------------- */
.course-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
}
/* -------------each card------------- */
.infos {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 24px;
  padding: 40px;
  width: 340px;
  background-color: #000514;
  cursor: pointer;
  transition: 0.3s ease;
}
/*  kkuriss shesaxeb cardebis css */
.info1 {
  border: 1px solid #00ff88;
  box-shadow: 0 0 15px #00ff8833;
}
/* -------on hover card moves 16px  on y gerdzi------ */
.info1:hover {
  box-shadow: 0 0 25px #00ff88aa;
  transform: translateY(-10px);
}

.info2 {
  border: 1px solid #00bfff;
  box-shadow: 0 0 15px #00bfff33;
}
.info2:hover {
  box-shadow: 0 0 25px #00bfffaa;
  transform: translateY(-10px);
}

.info3 {
  border: 1px solid #ff33cc;
  box-shadow: 0 0 15px #ff33cc33;
}
.info3:hover {
  box-shadow: 0 0 25px #ff33ccaa;
  transform: translateY(-10px);
}

.infos h2 {
  font-size: 26px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 1px;
  border-bottom: 1px dashed #555;
  padding-bottom: 10px;
}

.infos ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.li-s {
  display: flex;
  align-items: center;
  gap: 10px;
}

.li-s img {
  width: 26px;
  filter: brightness(1.3);
}

.li-s li {
  list-style: none;
  font-family: "DM Sans", sans-serif;
  color: #bfc7d5;
  font-size: 16px;
}

.li-s li:hover {
  color: #00ff88;
  transition: 0.2s ease;
  cursor: pointer;
}

.infos:hover h2 {
  text-shadow: 0 0 8px;
}
/* -----button---------- */
#course-preview button {
  margin-top: 30px;
  padding: 10px 40px;
  background-color: #00ff88;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.7s ease-in-out;
}
#course-preview button:hover {
  box-shadow: 0px 0px 20px #00a76ad2;
  transform: translateY(-2px);
}
#course-preview button a {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: "orbitronj";
  transition: 0.5s ease;
  font-weight: 700;
}
#course-preview button:hover a {
  text-shadow: 0px 0px 7px gainsboro;
}
/* ------------join our courses------------------ */
#Join {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #131622;
  border: 1px solid #00ff88;
  text-align: center;
  padding: 70px 50px;
  border-radius: 20px;
  box-shadow: 0 0 25px #00ff88aa;
  margin: 130px 40px;
}

#Join .join-text {
  color: #00ff88;
  text-shadow: 0 0 10px #00ff88, 0 0 20px #00ff88;
}

#Join .join-btn {
  padding: 12px 40px;
  background-color: #000;
  border: 2px dashed #00ff88;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 25px;
}

#Join .join-btn:hover {
  box-shadow: 0 0 25px #00ff88;
  transform: translateY(-3px);
}

#Join .join-btn a {
  color: #00ff88;
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
}

/* ------------footerr----------- */
/* ----------------------------- */
footer {
  border: 2px solid #00ffcc;
  border-radius: 24px;
  background-color: #0b1322;
  color: white;
  margin: 60px 80px;
  padding: 40px 60px;
  font-family: "Sora", sans-serif;
}

/* footer top  logo with text and navigation*/
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #00ffcc;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.footer-logo {
  font-family: "Orbitron", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #00ffcc;
  letter-spacing: 1px;
}

.footer-nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  text-align: center;
}

.footer-nav ul li a {
  color: #bfc7d5;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-nav ul li a:hover {
  color: #00ffcc;
}

/* footer second row2 with socials adn all rigth reserrved */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  border-top: 2px solid #00ffcc;
  padding-top: 20px;
  color: #bfc7d5;
}

.footer-socials {
  display: flex;
  gap: 20px;
}

.footer-socails a {
  mix-blend-mode: difference;
  background-color: white;
}

/* ---------------media------------------------- */
@media (max-width: 1340px) {
  /* -------------header------------- */
  header {
    margin: 60px 30px;
  }
  .header-img-div {
    padding: 20px 60px;
  }
  header nav {
    display: none;
    border-right: none;
  }
  .header-img img {
    width: 120%;
  }
  .header-nav-menu {
    justify-content: end;
  }
  .burger-menu-div {
    border: none;
  }
  /* <-----hero---------- */
  #hero {
    margin: 30px 30px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 40px 20px;
  }

  .hero-text {
    text-align: center;
  }
  .hero-text h1 {
    font-size: 50px;
  }
  .hero-btns {
    justify-content: center;
    gap: 20px;
  }
}

@media (max-width: 992px) {
  /* -----------------hero------------ */
  .hero-text {
    gap: 0px;
  }
  .hero-text h1 {
    font-size: 36px;
  }
  .hero-text p {
    font-size: 17px;
  }
  .hero-text p span {
    font-size: 18px;
  }

  .hero-text h3 {
    font-size: 18px;
  }
  .hero-btns button {
    padding: 10px 20px;
    font-size: 14px;
  }
  .hero-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .code-editor {
    max-width: 80%;
    min-width: 60%;
  }
  .editor-body {
    font-size: 14px;
  }
  /* -------------------- Why GOA -------------------- */
  #why-goa {
    margin: 20px 10px;
  }
  #why-goa h1 {
    font-size: 40px;
  }
  .why-goa-p1 {
    font-size: 16px;
  }
  #why-goa p span {
    font-size: 16px;
  }
  /* -------------mentors----------------- */
  .team-grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    padding: 0 15px;
  }
  /* --review----- */
}

@media (max-width: 576px) {
  /* --------header----------- */
  header {
    margin: 20px 20px;
  }
  .header-img-div {
    padding: 10px 40px;
  }
  .header-services img {
    display: none;
  }
  .header-services a {
    font-size: 14px;
  }
  /* -------------hero------------ */
  #hero {
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .hero-text {
    margin: 10px 40px;
  }
  .hero-text h1 {
    font-size: 26px;
  }
  .hero-text h3 {
    font-size: 16px;
  }
  .hero-text p,
  .hero-text p span {
    font-size: 15px;
  }

  /* -------------mentors----------------- */
  #our-team h2 {
    font-size: 20px;
  }
  .team-grid {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 15px;
    padding: 0 10px;
  }
  /* -----------review--------------- */
  #reviews {
    margin: 20px 40px;
  }
  #reviews h1 {
    font-size: 20px;
  }
  .review-box {
    padding: 20px;
    font-size: 14px;
  }
  /*  ------------------course preview---------- */
  #course-preview {
    margin: 80px 20px;
  }
  .course-text h2 {
    font-size: 28px;
  }
  #course-preview p {
    font-size: 14px;
    margin: 10px;
  }
  /* ------courses-------------- */
  .infos h2 {
    font-size: 23px;
  }
  /* ----------join goas academy------------- */
  #Join {
    margin: 50px 30px;
    padding: 40px;
  }
  #Join h1 {
    font-size: 23px;
  }
  #Join p {
    font-size: 14px;
  }
  /* -----foter---------- */
  footer {
    margin: 40px 20px;
    padding: 40px;
    text-align: start;
  }
  .footer-top,
  .footer-nav ul,
  .footer-bottom {
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 1157px) {
  .review-box-box,
  .review-box {
    width: 600px;
    height: 400px;
  }
  .review-box-box {
    overflow: scroll;
  }

  #left,
  #right {
    display: none;
  }
}
@media (max-width: 644px) {
  .review-box-box,
  .review-box {
    width: 100%;
    height: 700px;
  }
  .rbb-p {
    width: 100%;
  }
}
