@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Sora", sans-serif;
  background-color: #000000;
  color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.font1 {
  font-family: "Source Code Pro", monospace;
}

.sora {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.Orbitronj {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  position: relative;
  font-family: "Sora", sans-serif;
  background-color: #000000;
  color: white;
  overflow-x: hidden;
}

/* -------------------- HEADER -------------------- */
header {
  display: flex;
  border: 2px solid #ffffff;
  border-radius: 24px;
  color: rgb(255, 255, 255);
  margin: 60px 80px;
  position: relative;
  z-index: 1;
  background-color: #000000;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
}

header:hover {
  background-color: #0d0d0d;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.35);
}

.header-img-div {
  border-right: 2px solid #ffffff;
  padding: 25px 100px;
}

.header-img {
  width: 65px;
}

.header-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ffffff;
}

header nav {
  max-width: 1190px;
  width: 100%;
  height: 56px;
  border-right: 2px solid #ffffff;
}

header nav ul {
  padding: 15px 20px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.main-li {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  border-radius: 20px;
  transition: 0.3s;
}

header nav ul li a {
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
  letter-spacing: 1px;
  transition: color 0.3s ease;
  cursor: pointer;
}

header nav ul li a:hover {
  color: #ffffff;
  text-shadow: 0 0 8px #ffffff;
}


/*------------ burger menu ----------------*/
.burger-menu-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 56px;
  cursor: pointer;
  border-left: 2px solid #ffffff;
  border-top-right-radius: 24px;
}

/* -------------second row socials andn joinus -------------------*/
.header-row2 {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  justify-content: space-between;
  align-items: center;
}

/* joins us and socials divs */
.header-services {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  font-family: "Source Code Pro", monospace;
}

.header-services div {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ffffff;
}

.header-services div a {
  color: #ffffff;
}

.border-right {
  border-right: 2px solid #ffffff;
  cursor: pointer;
  transition: 0.5s ease-out;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.35);
}

.main-li:hover {
  background-color: #ffffffb3;
}


/* -----main mentors---------------- */
#mentors {
  background: #000000;
  color: #fff;
  padding: 30px 70px ;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.section-title {
  font-size: 50px;
  margin-bottom: 50px;
  letter-spacing: 2px;
  border-bottom: 2px solid #ffffff8e;
  display: inline-block;
  padding-bottom: 10px;
}

.mentors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
  justify-items: center;
}

.mentor-card {
  background: #000000;
  border: 2px solid #ffffffc4;
  border-radius: 14px;
  overflow: hidden;
  width: 340px;
  transition: 0.3s ease;
  position: relative;
  box-shadow: 0 0 15px grey;
  cursor: pointer;
}

.mentor-card:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 0 35px rgba(221, 218, 218, 0.671);
  border-color: #ffffff;
}

.mentor-img {
  width: 100%;
  height: 340px;
  object-fit: cover;
}



.mentor-info {
  padding: 20px;
  text-align: center;
}

.mentor-info h2 {
  margin: 10px 0 5px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
}

.mentor-info p {
  color: #dcdcdc;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
}



/* ------------footerr----------- */
/* ----------------------------- */
footer {
  border: 2px solid #ffffff;
  border-radius: 24px;
  background-color: #000000;
  color: white;
  margin: 60px 80px;
  padding: 40px 60px;
  font-family: "Sora", sans-serif;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.25);
}

/* footer top  logo with text and navigation*/
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.footer-logo {
  font-family: "Orbitron", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 1px;
}

.footer-nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.footer-nav ul li a {
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-nav ul li a:hover {
  color: #ffffff;
  text-shadow: 0 0 10px #ffffff;
}

/* footer second row2 with socials adn all rigth reserrved */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  border-top: 2px solid #ffffff;
  padding-top: 20px;
  color: #ffffff;
}

.footer-socials {
  display: flex;
  gap: 20px;
}

.footer-socails a {
  mix-blend-mode: difference;
  background-color: white;
}



/* ---------------media------------------------- */
@media (max-width: 1340px) {

  /* -------------header------------- */
  header {
    margin: 60px 30px;
  }

  .header-img-div {
    padding: 20px 60px;
  }

  header nav {
    display: none;
    border-right: none;
  }

  .header-img img {
    width: 120%;
  }

  .header-nav-menu {
    justify-content: end;
  }

  .burger-menu-div {
    border: none;
  }
}

@media (max-width: 576px) {

  /* --------header----------- */
  header {
    margin: 20px 20px;
  }

  .header-img-div {
    padding: 10px 40px;
  }

  .header-services img {
    display: none;
  }

  .header-services a {
    font-size: 14px;
  }

  /* -----foter---------- */
  footer {
    margin: 40px 20px;
    padding: 40px;
    text-align: start;
  }

  .footer-top,
  .footer-nav ul,
  .footer-bottom {
    flex-direction: column;
    gap: 15px;
  }

}
